{% extends 'base.html.twig' %}

{% block body %}
    <h2>Calculatrice</h2>
    <form action="">
        <input type="number" name="number_a">
        <br><br>
        <input type="text" name="operator">
        <br><br>
        <input type="number" name="number_b">
        <br><br>
        <input type="submit">
    </form>
    <br>
    <div>
        {% if result is defined %}
            Résultat: {{ result }}
        {% elseif errors is defined %}
            Erreurs: <br/>
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </br>
{% endblock %}